version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "5050:80"   # đổi từ 5000 sang 5050

  frontend:
    build: ./frontend
    ports:
      - "3001:80"
    depends_on:
      - backend
